<table class="table" cellspacing="0">
	<tr class="line">
		<td>
			<mat-form-field class="reg-exp-input">
				<mat-label>Regulat expression</mat-label>
				<input
					matInput
					[(ngModel)]="regExpPattern"
					(ngModelChange)="setRegExpPattern()"
				/>
			</mat-form-field>
		</td>
		<td>
			<mat-form-field class="reg-exp-flags-input">
				<mat-label>Flags</mat-label>
				<mat-select [formControl]="flagsControl" multiple>
					<mat-option value="i">i</mat-option>
					<mat-option value="g">g</mat-option>
					<mat-option value="m">m</mat-option>
					<mat-option value="s">s</mat-option>
					<mat-option value="u">u</mat-option>
					<mat-option value="y">y</mat-option>
				</mat-select>
			</mat-form-field>
		</td>
	</tr>
</table>

<div #textWrapper class="text-wrapper">
	<textarea
		#textarea
		[(ngModel)]="textPattern"
		(ngModelChange)="setTextPattern()"
	></textarea>
	<canvas
		#textareaCanvas
		[width]="canvasWidth"
		[height]="canvasHeight"
		style="position: absolute"
	></canvas>
</div>
